.language_flag_list_item {
	height: 30px;
}

.custom-icon {
	float: right;
	display: block;
	width: 100px;
	height: 100px;
	text-align: right;
}

.fa-custom-flag {
	background: url(../images/infobox-images/flag.png) no-repeat;
	background-size: 100px auto;
}

.fa-custom-gateway {
	background: url(../images/infobox-images/gateway.png) no-repeat;
	background-size: 100px auto;
}

.fa-custom-sensor {
	background: url(../images/infobox-images/sensor.png) no-repeat;
	background-size: 100px auto;
}

.fa-custom-occupancy {
	background: url(../images/infobox-images/occupancy.png) no-repeat;
	background-size: 100px auto;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  margin-top: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}
