<head th:fragment="head" id="head">

	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- Bootstrap JS -->
	<script type="text/javascript" th:src="@{/js/jquery/jquery-2.2.0.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
	
	<!-- Bootstrap CSS -->
	<link type='text/css' rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
	<link type='text/css' rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.css}" />
	<link type='text/css' rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.map.css}" />
	<link type='text/css' rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css.map}" />
	
	
	<!-- Custom CSS -->
	<link type='text/css' rel="stylesheet" th:href="@{/css/custom.css}" />
	



</head>
