<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<body>

	<div th:fragment="content">
		valami tartalom resz jon ide 
		
		<p th:text="'Hello, ' + ${name} + '!'" />
		<p th:text="#{common.text}"></p>

	</div>
	
	
</body>
</html>