<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>

	<nav th:fragment="menu_left" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
<!-- 			Toggle navigation -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:text="#{common.project.name}"></a>
			</div>
			
<!-- 			Menu bar -->
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#" th:text="#{common.menu.home}"></a></li>
					<li><a href="#about" th:text="#{common.menu.about}"></a></li>
					<li><a href="#contact" th:text="#{common.menu.contact}"></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="#{common.menu.home}"> Menu 3 
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Menu 3-1</a></li>
							<li><a href="#">Menu 3-2</a></li>
							<li><a href="#">Menu 3-3</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Menu 3-4</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Menu 3-5</a></li>
						</ul>
					</li>
				</ul>

				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" placeholder="Email" class="form-control"/>
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control"/>
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
				</form>
			</div>
		</div>
	</nav>

	<ul th:fragment="menu_right"
		class="nav navbar-nav navbar-right user-nav">
		<li class="dropdown profile_menu active"><a href="#"
			class="dropdown-toggle" data-toggle="dropdown"> <span>User
					Menu</span> <b class="caret"></b>
		</a></li>
	</ul>

</body>
</html>
